@font-face {
    font-family: 'Roboto Bold';
    src: url("assets/fonts/Roboto-Bold.ttf") format('truetype');
  }
  @font-face {
    font-family: 'Roboto Regular';
    src: url("assets/fonts/Roboto-Regular.ttf") format('truetype');
  }
body {
    
    background-color:rgb(55, 57, 77) ;
}
.container{
    /* same as body */
    border-radius:20px;
    display: flex;
    height: 400px;
    width:700px;
    /* border:2px solid blue; */
    margin-left:auto; margin-right: auto;
    margin-top:50px;
   background-color:rgb(255, 254, 254)
}

.main-image{
    /* container contains pexels and content */
    height: 350px;
    width:350px; 
    margin-left: auto;
    margin-top: 20px;
    margin-right: 10px;
}

.content{
    height: 350px;
    width: 350px;
    /* border: 2px solid seagreen; */
    margin:20px; margin-left: 30px;
    font-family: 'Roboto Regular', Arial, sans-serif;
}
.space{
    margin-bottom: 5px;
}
.tick{
    width:15px; height: 15px;
    margin-right: 10px;
}
input{
    border-color: lightgray;
    width: 340px;; height: 30px;
    padding: 1px;
}
button{
    width: 364px;; height: 45px; border: none;
    padding: 5px; color: aliceblue;
    background-color: rgb(35, 39, 66);
    border-radius: 8px; font-weight: bolder;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s;
}
button:hover{
    background-color: #fe5c62;
    cursor: pointer;
    border: none;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}
.takeinp{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

